

.option {
    text-align: center;
    font-size: 1.1rem !important;
    transform: rotate(270deg);
    font-weight: bolder;
    cursor: pointer;
}
a {
    color: inherit;
}

.btn {
    padding: 4px 18px;
    border-radius: 100px;
    
}
.pending {
    background-color: #fcf4dc;
    color: #E9B200;
}

.inactive {
    color: #545F7D;
    background-color: #f5f5f8;
}

.blacklisted {
    color: #E4033B;
    background-color: hsl(347, 26%, 87%);
}

.active {
    color: #39CD62;
    background-color: #dcf0e2;
}